html, body, .wrapper, .map { height: 100%; margin: 0; padding: 0; }
.truckList { height:50%; overflow-y : scroll;}
.truckList li {
    cursor:pointer;
}
.foodDetails { height:40%; margin-bottom:51px; overflow-y: scroll;}
.info { height: 100%; padding-top: 51px;}
